<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Corrida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="km" label="Km andados" labelPlacement="floating" placeholder="Digite quantos Km andou"></ion-input>
  </ion-item>


  <ion-button fill="clear" (click)="Calcular()">Calcular</ion-button><br>

  <ion-label> A Empresa Ficou com {{VE}}</ion-label><br>
  <ion-label> O Motorista Ficou com {{VM}}</ion-label>
</ion-content>
